body{
  font-family: sans-serif;
}
.profile-style{
  display: flex;
  margin: 10px;
  border:1px solid #ccc;
  padding: 10px;
  border-radius: 10px;
}
.profile-style .user-info{
  margin:10px;
}
.profile-style .user-info span{
  font-weight: bold;
}
.display-title{
  text-align: center;
}